{{ component( "Ceres::Customer.Components.SalutationSelect" ) }}

<script type="x/template" id="vue-address-field">
    <div class="col-12">
        <div class="row">
            <div class="col-12 col-sm-12">
                <div class="input-unit" data-validate="text" data-model="fullAddress">
                    <input type="text" name="fullAddress" autocomplete="full-address-line" :id="'fullAddress' + _uid" :value="value.fullAddress" @input="emitInputEvent('address1', $event.target.value)">
                    <label :for="'txtStreet' + _uid">{{ trans("Ceres::Template.addressStreet") }}*</label>
                </div>
            </div>
        </div>
    </div>
</script>

<script>
    Vue.component("addressfield", {
        template: "#vue-address-field",
        delimiters: ["${", "}"],
        computed: {
            address1() {

            },
            address2() {

            }
        }
    })
</script>