{{ component( "Ceres::Customer.Components.AddressInputGroup.AddressInputGroup" ) }}
{{ component( "Ceres::Customer.Components.SalutationSelect" ) }}


<script type="x/template" id="vue-date-picker">
    <div>
        <div v-if="isEdgeDesktop">
            <input type="text" v-model="date" id="'datepicker' + _uid" placeholder="{{ trans("Ceres::Template.addressBirthdatePlaceholder") }}"
                @change="emitInputEvent($event.target.value)"
            >
        </div>
        <input v-else type="date" name="birthday" min="1901-12-14" placeholder="{{ trans("Ceres::Template.addressBirthdatePlaceholder") }}"
            :max="new Date().toISOString().split('T')[0]"  
            :id="'txtBirthdate' + _uid"
            @change="emitInputEvent($event.target.value)"
        >
        <label :for="'txtBirthdate' + _uid">
            Geburtstag
        </label>
    </div>
</script>

<script>
    Vue.component("date-picker", {
        template: "#vue-date-picker",
        delimiters: ["${", "}"],
        computed: {
            isEdgeDesktop() {
                var isEdge = window.navigator.userAgent.indexOf("Edge/") > -1;
                var isTouch = window.ontouchstart !== undefined;
                return isEdge && !isTouch;
            },
        },
        data: function() {
            return {
                date: ""
            }
        },
        methods: {
            emitInputEvent(value) {
                if (this.isEdgeDesktop) {
                    var day = value.split(".")[0]
                    var month = value.split(".")[1]
                    var year = value.split(".")[2]
                    if (day && month && year) {
                        var birthday = year + "-" + month + "-" + day 
                        this.$emit("input", { field: "birthday", value: birthday });
                        console.log("edge debug", birthday)
                    }
                } else {
                    this.$emit("input", { field: "birthday", value: value });
                }
            }
        },
    
    });
</script>