{{ component( "Ceres::Customer.Components.AddressInputGroup.AddressInputGroup" ) }}
{{ component( "Ceres::Customer.Components.SalutationSelect" ) }}

<script type="x/template" id="vue-date-picker">
    <div>
        <div v-if="isEdgeDesktop">
            <input type="number" min="1" max="31" name="day" placeholder="tt">
            <input type="number" min="1" max="12" name="month" placeholder="mm">
            <input type="number" min="1901" :max="new Date().getFullYear()"name="year" placeholder="jjjj">
        </div>
        <input v-else type="date" name="birthday2" min="1901-12-14" placeholder="{{ trans("Ceres::Template.addressBirthdatePlaceholder") }}"
            :max="new Date().toISOString().split('T')[0]"  
            :id="'txtBirthdate' + _uid"
            @change="emitInputEvent($event.target.value)"
        >
        <label :for="'txtBirthdate' + _uid">
            Geburtstag
        </label>
    </div>
</script>

<script>
    Vue.component("date-picker", {
        template: "#vue-date-picker",
        delimiters: ["${", "}"],
        computed: {
            isEdgeDesktop() {
                var isEdge = window.navigator.userAgent.indexOf("Edge/") > -1;
                var isTouch = window.ontouchstart !== undefined;
                return isEdge && !isTouch;
            }
        },
        methods: {
            emitInputEvent(value) {
                this.$emit("input", { field: "birthday", value: value });
            }
        }
    });
</script>