{{ component( "Ceres::Customer.Components.AddressInputGroup.AddressInputGroup" ) }}

<script type="x/template" id="vue-date-picker">
    <div>
        <input v-if="isEdgeDesktop" type="text" name="birthday2" placeholder="{{ trans("Ceres::Template.addressBirthdatePlaceholder") }}" 
            :id="'txtBirthdate' + _uid"
            @input="emitInputEvent('birthday', $event.target.value)"
        >
        <input v-else type="date" name="birthday2" min="1901-12-14" placeholder="{{ trans("Ceres::Template.addressBirthdatePlaceholder") }}"
            :max="new Date().toISOString().split('T')[0]"  
            :id="'txtBirthdate' + _uid"
            @input="emitInputEvent('birthday', $event.target.value)"
        >
        <label :for="'txtBirthdate' + _uid">
            Geburtstag
        </label>
    </div>
</script>

<script>
    Vue.component("date-picker", {
        template: "#vue-date-picker",
        delimiters: ["${", "}"],
        props: [
            'value',
        ],
        computed: {
            isEdgeDesktop() {
                var isEdge = window.navigator.userAgent.indexOf("Edge/") > -1;
                var isTouch = window.ontouchstart !== undefined;
                return isEdge && !isTouch;
            }
        },
    });
</script>