<script type="x/template" id="vue-salutation-select">
    <div  v-for="(salutation, index) in currentSalutation">
        <input id="'saluation' +_uid" :selected="addressData.gender === salutation.key && checkGenderCompany(salutation.key)" :value="addressData.gender" type="radio" id="'saluation' +_uid" @change="emitInputEvent($event.target.value)" name="salutation">
        <label for="'saluation' +_uid">
             ${ salutation.name }
        </label>
    </div>
</script>
