<script type="x/template" id="vue-salutation-select">
    <input type="checkbox" v-for="(salutation, index) in currentSalutation" :value="salutation.key" :selected="addressData.gender === salutation.key && checkGenderCompany(salutation.key)">
    /*
    <select :value="addressData.gender" class="custom-select" @change="emitInputEvent($event.target.value)" data-autofocus>
        <option :value="salutation.key" :selected="addressData.gender === salutation.key && checkGenderCompany(salutation.key)" v-for="(salutation, index) in currentSalutation">
            ${ salutation.name }
        </option>
    </select>*/
</script>